<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header class="header">
        <div class="nav">
            Thuan <span class="container">Mai.</span>
        </div>
        <div class="nav__2">
            <div class="nav__menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="/" class="nav__link" >Home</a></li>
                    <li class="nav__item"><a href="./project.html" class="nav__link">Projects</a></li>
                    <li class="nav__item"><a href="./publications.html" class="nav__link">Publications</a></li>
                    <li class="nav__item"><a href="./gallery.html" class="nav__link">Gallery</a></li>
                    <li class="nav__item"><a href="" class="nav__link">Contact</a></li>
                </ul>
            </div>
            <div class="nav__buttons">
                <i class='bx bx-moon change-theme' id="theme-button" ></i>
                <div class="" id="nav-toggle">
                    <input type="checkbox" id="checkbox">
                        <label for="checkbox" class="toggle nav__toggle">
                        <div class="bar bar--top"></div>
                        <div class="bar bar--middle"></div>
                        <div class="bar bar--bottom"></div>
                        </label>
                </div>
            </div>
        </div>
    </header>

    <main class="main__public">
        <div class="public__contact">
            <div class="title__public">
                 <h1>Contact me</h1> 
            </div>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium id ducimus similique officia tempora nostrum, officiis quo perferendis aspernatur. Totam deserunt aspernatur, accusantium commodi et voluptates quos ipsa veniam quas.
            <h2>My CV</h2>
            <h3>Download my CV below</h3>
            <a style="font-size: 1.2rem; color: rgba(68, 133, 252, 0.811);" href="">Link CV</a>
        </div>

        

    </main>
    


    <script src="/script.js"></script>
</body>
</html>