<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/style.css">
    <!-- Link CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<!-- Link JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>
<body>
    <header class="header">
        <div class="nav">
            Thuan <span class="container">Mai.</span>
        </div>
        <div class="nav__2">
            <div class="nav__menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="/index.html" class="nav__link" >Home</a></li>
                    <li class="nav__item"><a href="" class="nav__link">Projects</a></li>
                    <li class="nav__item"><a href="./publications.html" class="nav__link">Publications</a></li>
                    <li class="nav__item"><a href="./gallery.html" class="nav__link">Gallery</a></li>
                    <li class="nav__item"><a href="./contact.html" class="nav__link">Contact</a></li>
                </ul>
            </div>
            <div class="nav__buttons">
                <i class='bx bx-moon change-theme' id="theme-button" ></i>
                <div class="" id="nav-toggle">
                    <input type="checkbox" id="checkbox">
                        <label for="checkbox" class="toggle nav__toggle">
                        <div class="bar bar--top"></div>
                        <div class="bar bar--middle"></div>
                        <div class="bar bar--bottom"></div>
                        </label>
                </div>
            </div>
        </div>
    </header>

    <main class="main__public">
        <div class="public">
            <div class="title__public">
                <i class='bx bx-brightness'></i> 
                <h1>Project 1</h1>
            </div>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt reprehenderit cupiditate, adipisci et, repudiandae ullam quod labore eius hic nobis fuga tempore mollitia velit perferendis cum veniam expedita beatae dolore.</li>
            <div class="swiper-container ">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/imgs/img1.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/imgs/img1.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/imgs/img1.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/imgs/img1.png" alt="">
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>

        <div class="public">
            <div class="title__public">
                <i class='bx bx-brightness'></i> 
                <h1>Project 1</h1>
            </div>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt reprehenderit cupiditate, adipisci et, repudiandae ullam quod labore eius hic nobis fuga tempore mollitia velit perferendis cum veniam expedita beatae dolore.</li>
            <div class="swiper-container ">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/imgs/img1.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/imgs/img1.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/imgs/img1.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/imgs/img1.png" alt="">
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>

    </main>








    <script src="/script.js"></script>
</body>
</html>